appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1671286659021/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1671266086055/work
brotlipy @ file:///D:/bld/brotlipy_1666764911856/work
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1671179504620/work
chardet==5.1.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
ChemDataExtractor @ file:///home/conda/feedstock_root/build_artifacts/chemdataextractor_1593096878559/work
click @ file:///D:/bld/click_1666798499870/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cryptography @ file:///D:/bld/cryptography_1669593566623/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
DAWG @ file:///D:/bld/dawg_1610373561018/work
gTTS==2.3.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
lxml @ file:///D:/bld/lxml_1671013604701/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1670938023425/work
numpy==1.24.1
pdfdataextractor==1.0
pdfminer @ file:///home/conda/feedstock_root/build_artifacts/pdfminer_1613401440402/work
pdfminer.six @ file:///home/conda/feedstock_root/build_artifacts/pdfminer.six_1667675062575/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome @ file:///D:/bld/pycryptodome_1669581941162/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-crfsuite @ file:///D:/bld/python-crfsuite_1648714678526/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
PyYAML @ file:///D:/bld/pyyaml_1666772539683/work
regex @ file:///D:/bld/regex_1667265277293/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sortedcontainers==2.4.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zstandard==0.19.0
